@import url(https://fonts.googleapis.com/css?family=Neuton);
body{
	background-color:#5CB8E8;
	font-family: 'Neuton', serif;
	text-align: center;
	color: #461C25;
}
#top{
	border: dashed;
	background-image: url("images/mic.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
h1{
	text-transform: uppercase;
	color:#801C25;
	font-weight:900;
}
h1,h2{
	background-color:rgba(92,184,232,.5);
	border: solid 1px;
	padding: 10px;
	text-align: left;
}
#secondh2{
	font-family: helvetica, serif;
	font-weight: bold;
}
#wremail{
	text-decoration: none;
	
}

/* Q's
making headings/text closer to each other
sections, grid
colors of things in sublime
indenting properly
*/