@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(https://fonts.googleapis.com/css?family=Alegreya);
* { margin:0; padding:0; box-sizing:border-box;}


body{
	background-image: url("images/mic.jpg");
	margin: 2em;
	font-family: 'Alegreya', serif;
	text-align: left;
}
h1{
	font-family: "Carrois Gothic SC",sans-serif;
	font-size: 52px;
	line-height: 60px;
	font-weight: 400;
	font-style: normal;
}

p{
}
ul{
	font-family: "Carrois Gothic SC";
	color: #000;
}



/* Q's
create logo bar for bottom?


*/