@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Arapey);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
* { margin:0; padding:0; box-sizing:border-box;}

/*GENERAL->SPECIFIC!*/
/*semantics, first, then classes together, then id's together
PSeudo classes AFTER class it represents*/

.wrapper{
	background: #CDD0BE url("../images/bgblue.jpg") no-repeat center center fixed;
	padding: 2%;
    font-family: 'Arapey', sans-serif;
    color:#000;
}
nav, #demos, aside{
	float: left;
}
header{
	background-color: rgba(244,224,205,.9);
	border-radius: 8px;
    height: auto;
    text-align: left;
	box-shadow: 2px 2px 1px #333;
}
header img{
	display: inline-block;
	float: left;
	border-radius: 8px 0 0 8px;
}
.headertext{
	display: inline-block;
	font-size: 26px;
	padding:2%;
}
header a{
	text-decoration: none;
	color: #184A45;

}
nav{
	background-color: rgba(244,224,205,.9);
	border-radius: 8px;
	box-shadow: 2px 2px 1px #333;
	margin: 1% 0;
	width: 100%;
	padding: 1%;
	text-align: center;
}
nav a{
	font-size: 24px;
	color: #184A45;
	text-decoration: underline;
}
nav ul{
	text-decoration: none;
	list-style: none;
}
nav li{
	text-transform: uppercase;
	padding: 1%;
	width:24.5%;
	display: inline-block;
}
article{
	background-color: rgba(244,224,205,.9);
	box-shadow: 2px 2px 1px #333;
	border-radius: 8px 0 0 8px;
	width: 70%;
	padding: 1%;
	margin: auto;
}
#demos h2{
	padding-bottom: 1%;
}
iframe{
	padding: 5;
	height: 150;
}
aside{
	background-color: rgba(244,224,205,.9);
	box-shadow: 2px 2px 1px #333;
	border-radius: 0 8px 8px 0;
	width: 29%;
	padding: 1%;
	margin: 0 0 0 1%;
}
aside ul{
	list-style-position: inside;
	
}
aside li{
	margin:4.55% 1%;
	font-size: 19px;
}
aside h3{
	text-align: left;
	padding-bottom: 2%;
}
#clients{
	background-color: rgba(244,224,205,.9);
	box-shadow: 2px 2px 1px #333;
	border-radius: 8px;
	padding:1%;
	margin:1em;
}
#clients img{
	border:3px groove black;
	margin: 1% 3% 0 3%;
}
footer{
	background-color: rgba(139,139,138,.9);
	padding: 1% 2%;
}
h1, h2, h3, nav{
	text-transform: uppercase;
	font-family: 'Pontano+Sans', sans-serif;
	color: #184A45;
}
h1{
	font-size: 50;
}
h2{
	text-align: left;
}
small p{
/*	background-color: rgba(81,216,204,.9);
*/	font-size: 1.25em;
	color: #FFF;
	text-align: center;
	width: auto;
}
a:hover{
	background-color: #aaaaaa;
	text-decoration: blink;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 972px) {
header img{
	border-radius: 8px;
}
nav{
	float: none;
	width:100%;
	margin-bottom: 1%;
	border-radius: 8px;
}
nav li{
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	padding: 1%;
}
article{
	width: 70%;
}
aside{
	width: 29%;
}

@media only screen and (max-width: 841px) {
	header img{
		width:100%;
		height:80%;
		float: left;
		border-radius: 8px;
	}
	aside{
		font-size: .75em;
	}
	.wrapper{
		width: auto;
	}
	footer{
		width: auto;
	}
	footer img{
		width: 3em;
		height: 3em;
	}
}
@media only screen and (max-width: 687px) {
	.headertext h1{
		font-size: 24px;
	}
	nav{
		font-size: 10px;
		
	}
	header{
		background-position: top;
	}
	aside{
		font-size: .75em;
	}
}
@media only screen and (max-width: 635px) {
	aside, article{
		border-radius: 8px;
		display: inline-block;
		float: none;
		width: 100%;
	}
	aside{
		margin-top: 1%;
	}
}
@media only screen and (max-width: 535px) {
nav li{
	float: none;
	display: block;
	width: 100%;
	min-height: 48px;
	}
}


/* Q's
create logo bar for bottom?
