@import url(https://fonts.googleapis.com/css?family=Oxygen);
@import url(https://fonts.googleapis.com/css?family=Arapey);
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
* { margin:0; padding:0; box-sizing:border-box;}

/*GENERAL->SPECIFIC!*/
/*semantics, first, then classes together, then id's together
PSeudo classes AFTER class it represents*/

.wrapper{
	background-color: #000 /*url("../images/bgblue.jpg") no-repeat center center fixed*/;
    ont-family:"lucida grande", tahoma, verdana, arial, sans-serif;
    color: white;
}
.container { 
	/*TO KEEP NAV ON TOP*/
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	margin: auto;
	padding: 1% .5%;
	display: inline-block;
}
#name{
	font-family: 'Bad Script', cursive;
	font-size: 1.2em;
	padding-left: 5%;
}
nav a{
	font-size: 12px;
	color: #E0E0E0;
	text-decoration: none;
}
nav ul{
	font-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	text-decoration: none;
	list-style: none;
}
nav li{
	color: #fff;
	padding: 0 1.5%;
	display: inline-block;
}
#demos, aside{
	float: left;
}
header{
    height: auto;
    padding: 1%;
    text-align: center;
}
header h1{
	font-family: 'Bad Script', cursive;
	display: inline-block;
	float: left;
	width: 24%;
	padding-top: 13%;
}
header img{
	display: inline-block;
	float: left;
	width: 50%;
	height: auto;
	margin:0 1%;
}
header p{
	display: inline-block;
	float: left;
	width: 24%;
	padding-top: 13%;
	ont-family:"lucida grande", tahoma, verdana, arial, sans-serif;
}
header a{
	text-decoration: none;
	color: white;
}
#mainsection{
	padding: 0 5%;
}
/*INDUSTRY NITCHES*/
aside{
	width: 20%;
	padding-left: 5%;
}
aside ul{
	list-style-position: inside;
}
aside li{
	margin:3% 1%;
}
/*DEMO BOX*/
#demos{
	width: 60%;
	text-align: center;
}
/*CLIENTS*/
marquee{
	background-color: gray;
}
#clients{
	display: inline-block;
	float: left;
	width: 19%;
	padding-left: 15%;
}
#scroll{
	display: inline-block;
	float:left;
}
footer{
	background-color: rgba(139,139,138,.2);
	padding: 1% 2%;
}
h1, h2, h3{
	text-transform: uppercase;
	ont-family:"lucida grande", tahoma, verdana, arial, sans-serif;
	color: white;
}
small p{
	font-size: 1.25em;
	color: #FFF;
	text-align: center;
	width: auto;
}
a:hover{
	background-color: #aaaaaa;
	text-decoration: none;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 972px) {
/*header img{
	border-radius: 8px;
}
nav{
	float: none;
	width:100%;
	margin-bottom: 1%;
	border-radius: 8px;
}
nav li{
	display: block;
	float: left;
	width: 25%;
	text-align: center;
	padding: 1%;
}
article{
	width: 70%;
}
aside{
	width: 29%;
}

@media only screen and (max-width: 841px) {
	header img{
		width:100%;
		height:80%;
		float: left;
		border-radius: 8px;
	}
	aside{
		font-size: .75em;
	}
	.wrapper{
		width: auto;
	}
	footer{
		width: auto;
	}
	footer img{
		width: 3em;
		height: 3em;
	}
}
@media only screen and (max-width: 687px) {
	.headertext h1{
		font-size: 24px;
	}
	nav{
		font-size: 10px;
		
	}
	header{
		background-position: top;
	}
	aside{
		font-size: .75em;
	}
}
@media only screen and (max-width: 635px) {
	aside, article{
		border-radius: 8px;
		display: inline-block;
		float: none;
		width: 100%;
	}
	aside{
		margin-top: 1%;
	}
}
@media only screen and (max-width: 535px) {
nav li{
	float: none;
	display: block;
	width: 100%;
	min-height: 48px;
	}*/
}


/* Q's
create logo bar for bottom?
