@import url(https://fonts.googleapis.com/css?family=Oxygen);
* { margin:0; padding:0; box-sizing:border-box;}

/*GENERAL->SPECIFIC!*/
/*semantics, first, then classes together, then id's together
PSeudo classes AFTER class it represents*/

/*How to get background image in header to go up top*/



.wrapper{
	background: rgba(209,200,198,1) url("../images/blackf.jpg") repeat center center fixed;
	padding: 2%;
    font-family: 'Oxygen', sans-serif;
    color:#000;
}
nav, #demos, aside{
	float: left;
}
header{
/*	background: url("../images/wendythin.jpg")no-repeat;*/
	background-color: rgba(230,235,234,.9);
	border-radius: 25px;
	background-size: contain;
	background-position: right;
	margin:auto;
    height: auto;
    text-align: left;
}
header img{
	display: inline-block;
	float: right;
	border-radius: 0 25px 25px 0;
}
.headertext{
	display: inline-block;
	/*background-color: #EBE1DF;*/
	padding:2%;
}
header a{
	text-decoration: none;
	color: #000;

}
nav{
	background-color: rgba(230,235,234,.9);
	border-radius: 12.5px;
	width: 15%;
	padding: 1%;
	margin: .1%;
}
nav a{
	font-size: 20px;
	color: #0C9C68;
	text-decoration: none;
}
nav ul{
	text-decoration: none;
	list-style: none;
	padding:5%;
}
.midwrapper{
	padding: 1.5%;
}
article{
	background-color: rgba(230,235,234,.9);
	border-radius: 12.5px;
	width: 60%;
	padding: 1%;
	margin: .1%;
}
#demos h2{
padding-bottom: 1%;
}
iframe{
	padding: 5;
	height: 150;
}
aside{
	background-color: rgba(230,235,234,.9);
	border-radius: 12.5px;
	width: 23%;
	padding: 1%;
	margin: .1%;
}
aside ul{
	list-style-position: inside;
	font-size: 18;
}
aside li{
	margin:.75em 10% .75em 0;
}
aside h3{
	text-align: left;
	padding-bottom: 2%;
}
footer{
	background-color: rgba(230,235,234,.9);
	padding: 1% 2%;
}
footer h3{
	padding: 0 0 2% 0;
}
footer img{
	border:3px groove black;
	margin: 0 3%;
}
h1, h2, h3{
	text-transform: uppercase;
}
h1{
	font-size: 50;
}
h2{
	text-align: center;
}
h3{
	text-align: center;
}
small p{
	background-color: rgba(158,139,134,.9);
	color: #FFF;
	text-align: center;
	padding-top: .25%;
	width: auto;
}
a:hover{
	background-color: #aaaaaa;
	text-decoration: blink;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media only screen and (max-width: 1015px) {
nav{
	float: none;
	width:100%;
}
nav li{
	display: block;
	float: left;
	width: 25%;
	text-align: center;
}
article{
	width: 70%;
}
aside{
	width: 29%;
}
}




@media only screen and (max-width: 841px) {
	header img{
	width:100%;
	height:80%;
	float: left;
	}

}
@media only screen and (max-width: 841px) {
	header img{
		border-radius: 15px 15px 0 0;
	}
	aside{
		font-size: .75em;
	}
	.wrapper{
		width: auto;
	}
	footer{
		width: auto;
	}
	footer img{
		width: 3em;
		height: 3em;
	}
}


@media only screen and (max-width: 687px) {
	.headertext h1{
		font-size: 24px;
	}
	nav{
		font-size: 5px;
		margin-bottom: 1%;
	}
	header{
		background-position: top;
	}
	aside{
		font-size: .75em;
	}
}
@media only screen and (max-width: 635px) {
	aside, article{
		float: none;
		width: 100%;
	}
}
@media only screen and (max-width: 535px) {
nav li{
	float: none;
	display: block;
	width: 100%;
}
}


/* Q's
create logo bar for bottom?
