@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(https://fonts.googleapis.com/css?family=Alegreya);
* { margin:0; padding:0; box-sizing:border-box;}

/*GENERAL->SPECIFIC!*/
/*semantics, first, then classes together, then id's together
PSeudo classes AFTER class it represents*/

.wrapper{
	background: #EBE0DE;
    font-family: "Alegreya",sans-serif;
    width: 970px;
    color:#000;
}
nav, #demos, aside{
	float: left;
}
header{
	background: url("../images/wendythin.jpg")no-repeat;
	background-size: contain;
	background-position: right;
	border: 3px #000 solid;
    padding: 1em;
    margin: 10;
    width: auto;
    height: auto;
    text-align: left;
}
header img{
	border: 3px solid #000;
	float: right;
}
header a{
	text-decoration: none;
}
nav{
	background-color: rgba(129,104,96,.8);
	padding: 10 10 10 20;
	width: 200;
	padding: 10;
	margin: 10;
}
nav a{
	display: inline-block;
	font-size: 20px;
	background-color: rgba(129,104,96,.8);
	text-decoration: none;
	padding: 15;
	width: 100%;
	border:3px outset #000;
}
nav ul{
	text-decoration: none;
}
article{
	background-color: rgba(129,104,96,.8);
	width: 500;
	padding: 10;
	margin: 10;
}
iframe{
	padding: 5;
	height: 150;
}
aside{
	background-color: rgba(129,104,96,.8);
	width: 210;
	padding: 10;
	margin: 10 10 0 10;
}
aside ul{
	list-style-position: inside;
	font-size: 18;
}
footer{
	background-color:rgba(129,104,96,.8);
    border-color: black;
	border-width: 1em;
	padding: 10;
	margin: 10;
}
footer img{
	margin: 0 8;
	border:3px groove black;
}
h1{
	font-size: 50;
}
h2{
	text-decoration: underline;
	text-align: center;
}
a:hover{
	background-color: #aaaaaa;
	font-size: 115%;
	text-decoration: blink;
}
.midwrapper:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
header:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}



/* Q's
create logo bar for bottom?
