@import url(https://fonts.googleapis.com/css?family=Carrois+Gothic+SC);
@import url(https://fonts.googleapis.com/css?family=Alegreya);
* { margin:0; padding:0; box-sizing:border-box;}

.wrapper{ /*(DIV CLASS)*/
	background: url("http://preview.turbosquid.com/Preview/2014/05/26__02_05_23/mic.jpg3f359e6a-7295-43f4-8fda-e9dc72e544f3Original.jpg")no-repeat center center fixed;
	/*background-color: #FFE2B8;*/
    border: 1px black solid;
    padding: 20px;
}
header{
	background-color: #FFED74;
	border: 1px black solid;
    padding: 20px;
}
h1{
	font-family: "Carrois Gothic SC",sans-serif;
}
iframe{
	background-color: #FFE2B8;
	border-color: black;
	border-width: 1em;
}
aside{
	background-color: #FFC675;
	border: 1px black solid;
    padding: 20px;
	font-family: "Carrois Gothic SC";
	color: #000;
}
article{
	background-color: #E89C6C;
    border: 5px black double;
    padding: 1em;
}
#demo1{
	background-color: #FFE2B8;
    border: 5px black dotted;
    padding: 10px;
}
#demo2{
	background-color: #FFE2E8;
    border: 1px black solid;
    padding: 10px;
}
footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
nav{
	background-color: #ff7900;
}
a{
	display: block;
	background-color: red;
	text-decoration: none;
	padding: 10px;
	width: 200px;
}
a:hover{
	background-color: #aaaaaa;
}
#one{ /*(SECTION ID)*/
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;	
}



/* Q's
create logo bar for bottom?
aside list style type no bullets
added "demo1 id attribute but not sure if it works"
*/