@import url(https://fonts.googleapis.com/css?family=Neuton);
* { margin:0; padding:0; box-sizing:border-box;}
body{
	background-color:#5CB8E8;
	background-image: url("http://www.publicdomainpictures.net/download-picture.php?adresar=10000&soubor=1-12433511551KPg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Neuton', serif;
	text-align: left;
	color: #461C25;
}
h1{
	text-transform: uppercase;
	color:#801C25;
	font-weight:700;
	text-decoration: none;
}
img{
	width: 400px;
	height: auto;
}
h1,h2,ul{
	padding: 10px;
	text-align: left;
	opacity: 1;
}
h3{
}
footer{
	text-align: bottom;
}
hr{
	width: 400px;
}

#wremail, #wrh1{
	text-decoration: none;	
}

/* Q's
create logo bar for bottom?


*/