@import url(https://fonts.googleapis.com/css?family=Belleza);

* { margin:0; padding:.1em; box-sizing:border-box;}
h1{
	font-family: Belleza;
}
body{
	margin: 5em;
	background-color:#5CB8E8;
	background-image: url("http://www.publicdomainpictures.net/download-picture.php?adresar=10000&soubor=1-12433511551KPg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Neuton', serif;
	text-align: left;
	color: #461C25;
}
p{
	background-color: #FFF
}



/* Q's
create logo bar for bottom?


*/